{{/* default favicon */}}
{{ $favicon := "/images/favicon.png" }}

{{/* if favicon is provided in the config, then use that */}}
{{ if site.Params.logo.favicon }}
  {{ $favicon = site.Params.logo.favicon }}
{{ end }}

{{/* resize the favicon. don't resize svg because it is not supported */}}
{{ $favicon := resources.Get $favicon }}
{{ if and $favicon (ne $favicon.MediaType.SubType "svg") }}
  {{ $favicon = $favicon.Resize "42x" }}
{{ end }}
{{ $favicon = $favicon.RelPermalink}}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<!-- ============ import common css ========== -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{{ $main := resources.GetMatch "**layouts/main.css**" }}
{{ $style := resources.GetMatch "**style.css**" }}
{{ $navbar := resources.GetMatch "**navigators/navbar.css**" }}
{{ $concatAllCSS := slice $main $style $navbar | resources.Concat "css/style.all.css" | postCSS | minify }}
{{ $secureCSS := $concatAllCSS | fingerprint "sha512" }}
<link rel="stylesheet" href="{{ $secureCSS.Permalink | relURL }}" integrity="{{ $secureCSS.Data.Integrity }}" />
<link rel="stylesheet" href="{{ "/css/plyr.css" | relURL }}"/>
<link rel="stylesheet" href="{{ "/css/flag-icon.min.css" | relURL }}"/>

<!--=================== cdn ==============================-->
<link href="https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;600" rel="stylesheet" crossorigin="anonymous">
<style type="text/css">
  .fa,.fab,.fad,.fal,.far,.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1
  }
</style>

<!--================= fab-icon =========================-->
<link rel="icon" type="image/png" href="{{ $favicon }}" />

<!-- import index page specific headers -->
{{ $home := resources.GetMatch "**sections/home.css**" }}
{{ $about := resources.GetMatch "**sections/about.css**" }}
{{ $skills := resources.GetMatch "**sections/skills.css**" }}
{{ $experiences := resources.GetMatch "**sections/experiences.css**" }}
{{ $education := resources.GetMatch "**sections/education.css**" }}
{{ $projects := resources.GetMatch "**sections/projects.css**" }}
{{ $recentposts := resources.GetMatch "**sections/recent-posts.css**" }}
{{ $achievements := resources.GetMatch "**sections/achievements.css**" }}
{{ $sectionsCSS := slice $home $about $skills $experiences $education $projects $recentposts $achievements | resources.Concat "css/sections.all.css" | postCSS | minify }}
{{ $secureSectionsCSS := $sectionsCSS | fingerprint "sha512" }}
<link rel="stylesheet" href="{{ $secureSectionsCSS.Permalink | relURL }}" integrity="{{ $secureSectionsCSS.Data.Integrity }}" />
