<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ if .Site.Params.gtm.enable }}
      {{ $tag := .Site.Params.gtm.id }}
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','{{ $tag }}');</script>
      <!-- End Google Tag Manager -->
    {{ end }}
    <title>{{- .Site.Params.websiteTitle -}}</title>
    {{ $siteDescription := .Site.Params.description }}
    {{ if (index .Site.Data .Site.Language.Lang).site }}
      {{ $siteConfig := (index .Site.Data .Site.Language.Lang).site }}
      {{ if $siteConfig.description }}
        {{ $siteDescription = $siteConfig.description }}
      {{ end }}
    {{ end }}
    <meta name="description" content="{{ $siteDescription }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://api.github.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://code.jquery.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://stackpath.bootstrapcdn.com" crossorigin="anonymous">
    {{ if .Site.Params.codersrank.enable }}
    <link rel="preconnect" href="https://unpkg.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://api.codersrank.io" crossorigin="anonymous">
    <link rel="preconnect" href="https://icon-widget.codersrank.io" crossorigin="anonymous">
    <link rel="preconnect" href="https://avatars0.githubusercontent.com" crossorigin="anonymous">
    {{ end }}
    {{ if .Site.Params.gtm.enable }}
    <link rel="preconnect" href="https://www.googletagmanager.com" crossorigin="anonymous">
    {{ end }}
    {{ if site.GoogleAnalytics }}
    <link rel="preconnect" href="https://www.google-analytics.com" crossorigin="anonymous">
    {{ end }}
    {{ if .Site.Params.reCaptcha.enable }}
    <link rel="preconnect" href="https://www.google.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://www.gstatic.com" crossorigin="anonymous">
    {{ end }}
    
    <!-- import common headers -->
    {{- partial "header.html" . -}}

    <!-- Add Google Analytics if enabled in configuration -->
    {{ if site.GoogleAnalytics }}
        {{ template "_internal/google_analytics_async.html" . }}
    {{ end }}

    <!--=================== Advanced SEO =====================================-->
    {{ if .Site.Params.seo.enable }}
     {{ partial "seo_schema.html" . }}
    {{ end }}
  </head>
  <body data-spy="scroll" data-target="#top-navbar" data-offset="100">
    {{ if .Site.Params.gtm.enable }}
      {{ $tag := .Site.Params.gtm.id }}
    <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ $tag }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{ end }}

    <!--- NAVBAR ------------------------->
    {{- partial "navigators/navbar.html" . -}}

    <!--- ADD HOME SECTION ---------------->
    {{- partial "sections/home.html" . -}}

    <!--- ADD OPTIONAL SECTIONS ----------->
    {{ $sections:= site.Data.sections }}
    {{ if (index site.Data site.Language.Lang).sections }}
      {{ $sections = (index site.Data site.Language.Lang).sections }}
    {{ end }}

    {{ if $sections }}
      {{ $background:= "bg-white"}}
      {{ range sort $sections "section.weight" }}
        {{ if .section.enable }}
          <div class="container-fluid section-holder d-flex {{ $background }}">
            {{ if .section.template }}
              {{- partial .section.template . -}}
            {{ else }}
              {{- partial (printf "sections/%s.html" (replace (lower .section.id) " " "-")) . -}}
            {{ end }}
          </div>
          <!--- alter background color for next section --->
          {{ if eq $background "bg-white" }}
            {{ $background = "bg-dimmed" }}
          {{ else }}
            {{ $background = "bg-white" }}
          {{end}}
        {{ end }}
      {{ end }}
    {{ end }}

    <!--- ADD FOOTER ----------------------->
    {{- partial "footer.html" . -}}

    <!--- ADD COMMON SCRIPTS --------------->
    {{ partial "scripts.html" . }}
     <!--================= Google reCaptcha ===============================-->
     {{ if .Site.Params.reCaptcha.enable }}
     {{ $mail := site.Params.email }}
     <script defer src="https://www.google.com/recaptcha/api.js"></script>
     <script>
       function onSubmit(token) {
         window.open("mailto:{{ $mail }}");
       }
     </script>
     {{ end }}
     <!--================= CodersRank widgets ==============================-->
    {{ if .Site.Params.codersrank.enable }}
      {{ $codersrank := .Site.Params.codersrank }}
      {{ if $codersrank.summary.enable }}
        {{ $version := $codersrank.summary.version }}
        <script defer src="https://unpkg.com/@codersrank/summary@{{ $version }}/codersrank-summary.min.js"></script>
      {{ end }}
      {{ if $codersrank.activity.enable }}
        {{ $version := $codersrank.activity.version }}
        <script defer src="https://unpkg.com/@codersrank/activity@{{ $version }}/codersrank-activity.min.js"></script>
      {{ end }}
      {{ if $codersrank.skills.enable }}
        {{ $version := $codersrank.skills.version }}
        <script defer src="https://unpkg.com/@codersrank/skills-chart@{{ $version }}/codersrank-skills-chart.min.js"></script>
      {{ end }}
      {{ if $codersrank.portfolio.enable }}
        {{ $version := $codersrank.portfolio.version }}
        <script defer src="https://unpkg.com/@codersrank/portfolio@{{ $version }}/codersrank-portfolio.min.js"></script>
      {{ end }}
    {{ end }}
    {{ if .Site.Params.lazyload.enable }}
      <script src="{{ "/js/lazysizes.min.js" | relURL }}" async></script>
    {{ end }}
  </body>
</html>
